{% extends 'layout.html' %}

{% block content %}

<!-- Hero Section -->
<section class="hero text-white bg-primary mb-5" style="background: linear-gradient(to right, #4e73df, #2e59d9);">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1 class="display-4 mb-4 font-weight-bold">Welcome to Employment Matching System</h1>
        <p class="lead mb-4">
            The Employment Matching System is a platform designed to seamlessly connect job seekers with employers. 
            Employers can upload job descriptions while candidates can submit resumes, making it easier to find the perfect match between job openings and qualified applicants.
        </p>
        
        <p class="lead mb-5">
          Our advanced technology ensures that the required skills for a job are efficiently matched with candidates' resumes, significantly speeding up the hiring process and making recruitment more effective.
        </p>

        <!-- Get Started Button -->
        <a href="login" class="btn btn-lg btn-light shadow-lg px-5 py-3">Get Started</a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
